
/* Styling specifically for CodeCard */

.code-card {
    background-color: #DEEAFF;
    /* max-width: auto-fit; */
    /* max-height: 100px; */
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px;
    border-radius: 20px;
    border: 1.5px solid #350200;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;

    height: 100px;
}

.code-icon {
    width: 50px;
    height: 50px;
}

.code-code {
    font-family: 'Starborn';
    font-size: 22px;
    color: #350200;
    margin-right: 25px;
}

.code-exp-icon {
    width: 25px;
    height: 25px;
    margin-right: 0;
    margin-left: auto;
}

.code-exp {
    font-family: 'DM Sans';
    font-size: 20px;
    color: #350200;
    margin-right: 0;
    margin-left: 0;
}

/* Styling for Codes page */

#events-code {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 50px;
}

.main-left-code {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#code-plus {
    padding: 10px;
    margin-left: 480px;
    margin-right: 0;
}

.main-right-code {
    margin-top: -50px;
}

