/* Container for the entire page */
#events-main
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 50px;
  }

  .main-left-events {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
    
  
  /* Styling for the plus button */
  .plus-button {
    cursor: pointer;
  }
  
  .map-img {
    padding-bottom: 30px;
  }
  