/* Container for the entire page */
#events-main
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 50px;
  }

  .main-left-events {
    display: flex;
    flex-direction: column;
  }
    
  
  /* Styling for the plus button */
  .plus-button {
    cursor: pointer;
    align-self: flex-end; /* Aligns button to the bottom right */
    width: 40px;
    height: 40px;
  }
  
  /* Styling for the map image */
  .map-img {
    max-width: 100%;
    height: auto;
  }
  