#login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

#login-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-header {
    font-family: 'Starborn';
    color: #350200;
    font-size: 55px;
    padding: 20px;
}

.login-text {
    margin: 10px;
    color: #92AFE2;
    font-family: "DM Sans";
    border-radius: 15px;
    border: none;
    height: 30px;
    width: 400px;
    font-size: 20px;
    padding: 12px;
}

input::placeholder {
    color: #92AFE2;
    font-family: "DM Sans";
}


input[type="radio"] {
    width: 20px;
    height: 20px;
  }

#login-button {
    margin: 10px;
    background-color: #350200;
    color: #ffffff;
    font-family: 'Starborn';
    border-radius: 15px;
    border: none;
    height: 55px;
    width: 420px;
    font-size: 20px;
    padding: 15px;
}

