#login-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Starborn';
    color: #350200;
    font-size: 60px;
    padding-bottom: 50px;
    padding-top: 50px;
}

#login-body {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adds space between inputs */
    width: 100%; /* Adjust width as needed */
    max-width: 300px; /* Prevents stretching */
    margin: auto; /* Centers the input box */
}

#login-input {
width: 100%;
padding: 12px;
font-family: 'DM Sans', sans-serif;
font-size: 16px;
border: 1px solid #ccc;
border-radius: 10px; /* Rounded corners */
outline: none;
transition: border 0.3s;
padding-bottom: 70px;
}

#login-input:focus {
border-color: #5c67f2; /* Highlight color when clicked */
}